<%# The answer.html.erb will display your question as well as his answer. %>
<div class="card">
  <h3><%= @question %></h3>
  <p>-- You </p>
</div>
<p> </p>
<div class="card" id="coach">
  <h3><%= @answer %></h3>
  <p>-- Your coach</p>
</div>